@{
    ViewBag.Title = "Create An Event";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create An Event</title>
</head>
<body>
    <br />
    <div>
        Where, when and more
    </div>
</body>
</html>
